.user-list {
  .user-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .user-list-header-title {
      color: rgb(46, 46, 46);
      font-size: 34px;
    }
  }

  table {
    width: 100%;
  }
}